.designer {
  padding-top: 160px;
  &-content {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 140px;
  }
  &-text {
    flex: 1;
    text-align: left;
  }
  &-heading {
    margin-bottom: 30px;
  }
  &-paragraph + &-paragraph {
    margin-top: 25px;
    margin-bottom: 40px;
  }
  &-btn {
    width: fit-content;
  }
  &-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}