// Colors
$text-white: #FFF;
$text-light: #FAF5EF;
$text-dark: #222120;
$background-light: #F8F3ED;
$background-dark: #222120;
$border-article: #7C9097;
$border-light: #FAFAFA;
$border-dark: #222120;

// Spacing
:root {
  --section-spacing: 180px;
  --side-img-down: 78px;
  --nav-height: 120px;
}
