section.article.background-light.text-dark.px-20#articles
  .article-content.section-content 
    .article-top 
      h2.article-heading.heading.heading--02 Our latest articles
      button.article-btn.btn.heading.heading--btn Read All Articles
    .article-bottom 
      .article-post
        .article-post-img 
          img(srcSet="./assets/img/article-1.png 2x", alt="article 1")
        h6.article-post-heading.heading.heading--06 Why your client needs interior design
        .article-post-line 
        .article-post-bottom 
          button.article-post-btn.btn.heading.heading--btn Read More 
          .article-post-time April 30, 2020
      .article-post
        .article-post-img 
          img(srcSet="./assets/img/article-2.png 2x", alt="article 2")
        h6.article-post-heading.heading.heading--06 How to decore your home
        .article-post-line 
        .article-post-bottom 
          button.article-post-btn.btn.heading.heading--btn Read More 
          .article-post-time April 30, 2020

