section.designer.background-dark.text-light.px-20
  .designer-content.section-content
    .designer-text 
      .designer-heading.heading.heading--01 Our designers 
      .designer-paragraph.paragraph.paragraph--main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum
      .designer-paragraph.paragraph.paragraph--main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum nam. Gravida aenean orci, facilisis senectus.
      .designer-btn.btn.heading.heading--btn See All Designers
    .designer-img 
      img(srcSet="./assets/img/designer.png 2x", alt="designer")