footer.footer.background-dark.text-light.px-20 
  .footer-content.section-content 
    .footer-back-to-top 
      button.footer-back-to-top-btn 
        img(src="./assets/img/back-to-top.svg", alt="back to top")
      p.footer-back-to-top-text Go to top 
    .footer-main 
      .footer-text 
        .footer-heading.heading.heading--06 Stay in touch with us
        ul.footer-contact-list 
          li.footer-contact-group 
            .footer-contact-label DM us on:
            a.footer-contact-link.heading.heading--03(href="mailto: hello@heling.com") hello@heling.com
          li.footer-contact-group 
            .footer-contact-label Call us on:
            a.footer-contact-link.heading.heading--03(href="tel: +2(930) 859-464") +2(930) 859-464
      .footer-img 
        img(srcSet="./assets/img/footer.png 2x", alt="footer image")
    .footer-line.background-light 
    .footer-bottom 
      p.footer-rights ©Heling 2022.
      .footer-logo 
        img(src="./assets/img/logo.svg", alt="Heling")
      a.footer-link(href="#!") Privacy Policy
