header.header.background-dark.text-light
  .nav.background-dark.text-light
    .nav-content.px-20
      .logo
        img(src="./assets/img/logo.svg", alt="Heling")
      ul.menu.js-menu.background-dark.text-light
        button.toggle.js-toggle.menu-toggle
          <i class="fa-solid fa-xmark"></i>
        li.menu-item.active
          a.menu-link.js-menu-link.paragraph.paragraph--02(href="#!") home
        li.menu-item
          a.menu-link.js-menu-link.paragraph.paragraph--02(href="#projects") projects
        li.menu-item
          a.menu-link.js-menu-link.paragraph.paragraph--02(href="#designers") designers
        li.menu-item
          a.menu-link.js-menu-link.paragraph.paragraph--02(href="#articles") articles
      .header-btn-group 
        .btn.header-btn
          a.header-btn-link.heading.heading--btn Contact
        button.toggle.js-toggle
          img(src="./assets/img/menu.svg", alt="toggle menu button")
  .header-line-set-full.line-set.line-set--light.line-set--justify 
    .line-item 
    .line-item 
    .line-item 
  .header-main.px-20 
    .header-content 
      .header-text 
        h1.header-heading.heading.heading--01 
          span We make 
          span every room 
          span a unique shape
        .header-line-set.line-set.line-set--light.line-set--center
          .line-item 
          .line-item 
          .line-item 
        p.header-paragraph.paragraph.paragraph--01 Lorem ipsum onsectetur adipiscing elit. Blandit mauris etiam faucibus laoreet tellus nam. Gravida solor aenean orci, facilisis senectus.
      .header-img 
        img(srcSet="./assets/img/header-primary.png 2x", alt="primary image")
      .header-side-img 
        img(srcSet="./assets/img/header-secondary.png 2x", alt="secondary image")



