section.project
  .project-top.section-content.px-20
    .project-heading.heading.heading--02 Our latest projects
    .project-btn.btn.heading.heading--btn All Projects
  .project-slider.text-light
    .project-slider-text.px-20
      .project-name.heading.heading--05 Dining room 
      .btn.heading.heading--btn.project-slider-btn View Details 
  .project-designer.background-dark.text-light