section.project 
  .project-top.section-content
    .project-heading.heading.heading--02 Our latest projects
    .project-btn.btn.heading.heading--btn All Projects
  .project-slider.text-light
    .project-slider-text
      .project-name.heading.heading--05 Dining room 
      .project-btn.btn.heading.heading--btn View Details 
  .project-designer.background-dark.text-light