section.story.px-20
  .story-top.section-content
    h2.story-heading-top.heading.heading--02 Our remember-able stories
    p.story-paragraph.paragraph.paragraph--main Lorem ipsum dolor sit amet, consectetur adipiscing elit. Blandit mauris etiam faucibus laoreet vestibulum pretium tellus nam. Gravida aenean orci, facilisis senectus.
  .story-bottom.section-content
    .story-bottom-left
      .story-img-tall
        img(srcSet="./assets/img/story-tall.png 2x", alt="Story")
    .story-bottom-right
      .story-img-short 
        img(srcSet="./assets/img/story-short.png 2x", alt="Story")
      .story-side-lines.line-set.line-set--center.line-set--dark 
        .line-item 
        .line-item 
        .line-item 
      h4.story-heading-bottom.heading.heading--04 We don’t renovate space, we transform them